.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}

.sidebar .categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block: 15px;
}

.sidebar .category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar .category span{
    margin-left: 15px;
}
 .sidebar .category:hover{
    background: #e5e5e5;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}